<header class="banner">
  <div class="content-wrapper">
    <div class="title-navbar">
      <a href="{{ '/' | relative_url }}">
        <img
          id="logo"
          class="site-title"
          src="https://res.cloudinary.com/dx8zsuesx/image/upload/v1739662045/JBLogoLight_dbqqmc.png"
          alt="Jonny Boyd"
        />
      </a>
      {% include navbar.html %}
      <img
        id="dark-light-toggle"
        class="dark-light-toggle"
        src="https://res.cloudinary.com/dx8zsuesx/image/upload/v1727865683/moonblack_v4fevk.png"
        alt="Toggle dark mode"
        style="cursor: pointer"
      />
    </div>
  </div>
</header>
