.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.subscribe-button {
  border: none !important;
  border-radius: 20px !important;
  background-color: #fd976e !important;
  color: black !important;
  padding: 12px 27px !important;
  font-weight: bold !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.subscribe-button:hover {
  background-color: #ffbd59 !important;
}

.navbar-toggler {
  padding: 0;
  margin: 0 10px;
  border: none;
  background-color: #ffbd59 !important;
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
  background-color: #ffbd59;
  background-size: contain;
  background-position: center;
  border-radius: 4px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
